%h1 All Classes

%table#classes
  %thead
    %tr
      %th Class
      %th Owner
      %th Description
      %th Privacy
  %tbody
    - @classes.each do |c|
      %tr
        %td= c.title
        %td= Snapuser.find(c.teacher_id).username
        %td= c.description
        %td= c.privacy
        %td= link_to "More about #{c.title}", snapclass_path(c)

= link_to 'Add new user', new_snapuser_registration_path