%h1 Create New Class

= form_tag snapclass_index_path do

  .form-group
    = label :snapclass, :title, 'Title'
    %br
    = text_field :snapclass, 'title'

  .form-group
    = label :snapclass, :description, 'Description'
    %br
    = text_field :snapclass, :description

  .form-group
    =label :snapclass, :privacy, 'Privacy'
    %br
    =select :snapclass, :privacy, ['Private', 'Public']

  .form-group
    = submit_tag 'Create Class'
