%h1 Create New Class

= form_tag snapclass_index_path do

  = label :snapclass, :title, 'Title'
  = text_field :snapclass, 'title'

  = label :snapclass, :description, 'Description'
  = text_field :snapclass, :description

  = submit_tag 'Create Class'
