
-# in app/views/snapclass/show.html.haml

%h2 Details about #{@class.title}

%ul#details
  %li
    Teacher:
    - @class.teachers.each do |teacher|
      = link_to "#{teacher.username}", user_path(teacher)
  %li
    Description:
    = @class.description
  %li
    Students:
    - @class.students.each do |student|
      = link_to "#{student.username}", user_path(student)

-if !(@class.teachers.include?(current_user))
  -if @class.students.include?(current_user)
    = form_tag snapclass_unenroll_path do
      = hidden_field :student, :id, value: current_user.id
      = submit_tag 'Un-enroll from Class'
  -else
    = form_tag snapclass_enroll_path do
      = hidden_field :student, :id, value: current_user.id
      = submit_tag 'Enroll in Class'
-else
  = link_to 'Edit', edit_snapclass_path(@class)
  = button_to 'Delete', snapclass_path(@class), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to User list', user_index_path
