%h1 All Courses

%table#courses
  %thead
    %tr
      %th Course
      %th Owner
      %th Description
      %th Privacy
  %tbody
    - @courses.each do |course|
      %tr
        %td= course.title
        %td= User.find(course.teacher_id).username
        %td= course.description
        %td= course.privacy
        %td= link_to "More about #{course.title}", course_path(course)
