
%h2 Details about #{@project.name}
%ul#details
  %li
    description:
    = @project.description
  %li
    class:
    = @project.class
  %li
    privacy:
    = @project.privacy
- if @user == current_user
  = link_to 'Edit', edit_snapproject_path(@project)
  = link_to 'Create new project', new_snapproject_path
  - if @user.account_type == 'Teacher'
    = link_to 'Create a new class', new_snapclass_path
  = button_to 'Delete', snapproject_path(@project), :method => :delete, :confirm => "Are you sure you want to delete '{@project.name}'?"
= link_to 'Back to Project List', snapproject_index_path