-# edit.html.haml using partial

%h1 Edit User Properties

= form_tag snapuser_path(@user), :method => :put do

  = label :snapuser, :username, 'Username'
  = text_field :snapuser, 'username'

  = label :snapuser, :password, 'Password'
  = text_field :snapuser, 'password'

  = label :snapuser, :email, 'Email'
  = text_field :snapuser, 'email'

  = label :snapuser, :account_type, 'Profile Type'
  = select :snapuser, :account_type, ['Basic', 'Teacher']

  = submit_tag 'Update User Info'
