%h1 #{@user.username}'s Projects

%table{:class => "table table-hover"}
  %thead
    %tr
      %th Project Name
      %th Owners
      %th Description
      -if @user == current_snapuser
        %th Privacy
  %tbody
    - @publicprojects.each do |project|
      %tr
        %td= link_to project.name, snapproject_path(project)
        %td= project.all_users
        %td= project.description
        -if @user == current_snapuser
          %td= project.privacy

-if @user==current_snapuser
  = link_to 'Create new project', new_snapproject_path
