-# in app/views/snapusers/show.html.haml

%h2 Details about #{@user.username}

%ul#details
  %li
    email:
    = @user.email
  %li
    account type:
    = @user.account_type
- if @user == current_snapuser
  = link_to 'Edit', edit_snapuser_registration_path
  %br
  = link_to 'Create project', new_snapproject_path
  %br
  = link_to 'View Messages', conversations_path(@user)
  / - if @ser != current_snapuser
  /   %br
  /   = link_to 'Send a new message', new_message_path

%br
= link_to 'View Projects', snapuser_projects_path(@user)

%br
- if @user.account_type == 'Teacher'
  = link_to 'Create a new class', new_snapclass_path
  = link_to 'View classes', snapclass_index_path
= link_to 'Back to User list', snapuser_index_path
