-# in app/views/snapusers/show.html.haml

%h2 Details about #{@user.username}

%ul#details
  %li
    email:
    = @user.email
  %li
    account type:
    = @user.account_type

= link_to 'Edit', edit_snapuser_path(@user)
= button_to 'Delete', snapuser_path(@user), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to User list', snapuser_index_path
