-# in app/views/users/show.html.haml

%h2 Details about #{@user.username}

%ul#details
  %li
    email:
    = @user.email
  %li
    Taught Courses:
    = link_to 'View Courses', taught_courses_path
  %li
    Enrolled Courses:
    = link_to 'View Courses', enrolled_courses_path
  %li
    All Courses:
    = link_to 'View Courses', all_courses_path
= link_to 'View Projects', user_projects_path(@user)
- if @user == current_user
  = link_to 'Edit', edit_user_registration_path
  %br
  = link_to 'Create project', new_project_path
  %br
  = link_to 'View Messages', conversations_path(@user)
  %br
  = link_to 'Create a new course', new_course_path
  %br
  = button_to 'Delete', user_path(@user), :method => :delete, :confirm => 'Are you sure?'

= link_to 'Back to User list', user_index_path
