!!! 5
%html
  %head
    %title Snap!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = javascript_include_tag :defaults
    = favicon_link_tag
    = csrf_meta_tags

  %body
    %h1.title Snap! Build Your Own Blocks
    %ul
      %li
        = link_to 'Home', snapuser_index_path
      - if logged_in?
        %li
          = link_to "Info about #{@current_user.username}", snapuser_path(current_user)
        %li
          = link_to 'Log out', logout_path, :method => :delete
      - else
        %li
          = link_to 'Sign in', login_path
        %li
          = link_to 'Sign up', new_snapuser_path
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      - elsif flash[:danger]
        #warning.message= flash[:danger]

      = yield
