!!! 5
%html
  %head
    %title Snap!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = favicon_link_tag
    = csrf_meta_tags

  %body
    %h1.title Snap! Build Your Own Blocks
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield
